.article-author-section
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border: 1px solid red;
}

.author-image-wrapper
{
    width: 5%;
}

.author-image
{
    width: 100%;
    border-radius: 50%;
}